@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  background: url(images/bg2.jpg);
  background-size: cover;
}

#header {
  background: url(images/header.jpg);
  background-size: cover;
  height: 250px;
  width: 1000px;
  margin: auto;
  margin-top: -80px;
  border-width: 3px 3px 3px 3px;
  border-color: white;
  border-radius: 10px;
}

p {
  font-family: Amatic SC;
  font-size: 85px;
  font-weight: bold;
  margin-left: 30px;
}

#beerandcart {
  margin: auto;
  height: 605px;
  widht: 100%;
  margin-left: 300px;
  margin-top: 10px;
}

#cart {
  background-color: white;
  width: 370px;
  height: 400px;
  float: left;
  font-family: Amatic SC;
  font-size: 25px;
  font-weight: bold;
}

#cartList {
  background-color: white;
  width: 360px;
  height: 300px;
  float: left;
  overflow-y: auto;
  border: 2px solid black;
}

.cartObj {
  background-color: white;
  width: 350px;
  height: 50px;
  border: 2px solid black;
  float: left;
  margin: 2px;
  display: table;
}

#cartSumText {
  width: auto;
  height: 20px;
  float: left;
  margin-left: 8px;
  margin-top: 15px;
}

#cartSumAmount {
  width: auto;
  height: 20px;
  float: left;
  margin-left: 8px;
  margin-top: 15px;
}

#beerList {
  width: 330px;
  height: 600px;
  overflow-y: scroll;
  float: left;
}

.beerAddRemove {
  width: 25px;
  height: 50px;
  float: right;
  margin-right: 4px;
}

.beerRemove {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  text-align: center;
  float: right;
  cursor: pointer;
  border: 2px solid black;
}

.beerAdd {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  text-align: center;
  float: right;
  cursor: pointer;
  border: 2px solid black;
}

.beerAddList {
  width: 20px;
  height: 20px;
  margin-top: 14px;
  margin-right: 4px;
  text-align: center;
  float: right;
  cursor: pointer;
  border: 2px solid black;
}

.buttonBeerRemove {
  display: block;
  vertical-align: middle;
}

.beerItem {
  background-color: white;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  margin: 2px;
  float: left;
  transition: height 1s;
  overflow: hidden;
}

.beerItem.expanded {
  height: 100px;
}

.beerItem:hover {
  cursor: pointer;
}

.beerCartItem .beerPubPrice{
  float: right;
  height: auto;
  width: auto;

}

.beerCartItem {
  width: 300px;
  height: 50px;
  margin: 2px;
  float: left;
}

.beerName {
  width: 80%;
  height: 25px;
  float: left;
  margin-top: 15px;
  font-family: Amatic SC;
  font-size: 25px;
  font-weight: bold;
}

.beerPubPrice {
  width: auto;
  height: 25px;
  float: left;
  margin-top: 15px;
  font-family: Amatic SC;
  font-size: 25px;
  font-weight: bold;
}

.beerCategory {
  width: 100px;
  height: 25px;
  float: left;
  margin-top: 15px;
  font-family: Amatic SC;
  font-size: 20px;
  font-weight: bold;
}

.beerCountry {
  width: 100px;
  height: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 7px;
  font-family: Amatic SC;
  font-size: 20px;
  font-weight: bold;
}

.beerAlc{
  width: 40px;
  height: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 7px;
  font-family: Amatic SC;
  font-size: 20px;
  font-weight: bold;
}

.beerCount {
  width: auto;
  height: auto;
  float: left;
  margin-top: 17px;

}
